<div class="container">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-10">
        <h4><b>Flight Details</b></h4>
      </div>

    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let flight of allFlights" >
          <td>{{flight.FlightNumber}}</td>
          <td>{{flight.Airlines}}</td>
          <td>​​​​​​​​{{flight.Source}}</td>
         <td>{{flight.Destination}}</td>
         <td>{{flight.DepartureTime}}</td>
          <td>{{flight.ArrivalTime}}</td>
          <td (click)="showFlight(flight)"><button class="btn btn-primary btn-sm">View Flight</button> </td>
        </tr>
    </tbody>
  </table>

</div>
